.calculator1-container {
    display: flow-root;
    float: inline-start;
}
.calculator {
    background-color: #e6f7f7;
}
.calculator, .Solution1-container {
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 1em;
    width: 20em;
    margin-bottom: 0.5em;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.Solution1-container{
    padding: 1em 0.5em;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    padding: 1em 0.5em;
    width: 20em;
    height: 35rem;
    background-color: #f3f0ff;
}
.Solution1-container *{
    background-color: #f3f0ff;
}
label {
    font-weight: bold;
    background-color: #e6f7f7;
}
input{
    width: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 2px double grey;
}
button{
    width: 100px;
    height: 1.5em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
    background-color: hsla(212, 98%, 64%, 0.788);
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: hsla(212, 100%, 50%, 0.788);
}
.row {
    display: flex; /* Enables Flexbox for each row */
    justify-content: space-between; /* Evenly spaces the two columns */
    align-items: center;/* Aligns items vertically */
}
.center{
    margin: auto;
    font-weight: bold;
    text-indent: -3em;
}
.Solution1-container .one, .Solution1-container .two {
    flex: 1;
    font-weight: bold;
    text-align: left;
    text-indent: 0.5em;
}
.Solution1-container .answers{
    display: block;
    text-align: left;
    color: red;

}

.calculator h1{
    background-color: #e6f7f7;
}
.input-container{
    background-color: #e6f7f7;
}
.buttons{
    background-color: #e6f7f7;
}