.calculator-container-overall{
    border: 1px hidden black;
    display: flow-root;
    float: inline-start;
    
}

.calculator-container{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 1em;
    width: 20em;
    margin-bottom: 0.5em;
    height: fit-content;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
} /* Header*/

select{
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    text-align: left;
    padding: 0em 1em;
    
}/* Dropdown Selection*/

input{
    width: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 2px double grey;
}
/* text besides the input element*/
label{
    font-weight: bold;
}
label sub{
    font-size: 12px;
    color: grey;

}
button{
    width: 100px;
    height: 1.5em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
    background-color: hsla(212, 98%, 64%, 0.788);
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: hsla(212, 100%, 50%, 0.788);
}

.Solution{
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    padding: 1em 0.5em;
    width: 20em;
    min-height: fit-content;
}

h3,.given{
    text-align: left;
}

.Solution-given {
    padding: 10px;
    flex-direction: column; /* Stacks rows vertically */
    gap: 10px; /* Adds space between rows */
    
}

.row {
    display: flex; /* Enables Flexbox for each row */
    justify-content: space-between; /* Evenly spaces the two columns */
    align-items: center; /* Aligns items vertically */
}

.one, .two {
    flex: 1; /* Ensures equal spacing between the two columns */
}
.answers{
    text-indent: 2em;
    color: red;
    display: block;
}

